mixin productNavLink(link, text, count)
	li.product-nav__item
		a(href=link).product-nav__link.scroll-link
			span.product-nav__text=text
			span.count-text=count


section.s-product.s-bg-white.s-border-bottom
	.container
		.product
			.product__header
				h1.title-page.title--little Порошковая покраска плоских металлических изделий габаритами 7100x2400x1800 мм в глянцевый графитовый серый RAL 7024
				.product-rating
					.product-rating__body
						.product-rating__star.product-rating__star--full
						.product-rating__star.product-rating__star--full
						.product-rating__star
							.product-rating__star--part(style="width: 50%")
						.product-rating__star
						.product-rating__star
					span.product-rating__text #[b 3,5] из 5
				a(href="#").product__rating-link.link-underline 25 отзывов
			include _options
			include _body
section.s-product-nav.s-bg-white.s-no-padding
	.container
		.product-nav
			ul.product-nav__list
				+productNavLink('#', 'Сертификаты', '4')
				+productNavLink('#', 'Советы', '7')
				+productNavLink('#', 'Вопросы и ответы', '4')
