section.s-product.s-bg-white
	.container
		.product
			.product__header
				h1.title-page.title--little Порошковая покраска плоских металлических изделий габаритами 7100x2400x1800 мм в глянцевый графитовый серый RAL 7024
				.product-rating
					.product-rating__body
						.product-rating__star.product-rating__star--full
						.product-rating__star.product-rating__star--full
						.product-rating__star
							.product-rating__star--part(style="width: 50%")
						.product-rating__star
						.product-rating__star
					span.product-rating__text #[b 3,5] из 5
				a(href="#").product__rating-link.link-underline 25 отзывов
			include _options
			include _body