mixin cabinetNavLink(link, text, page)
	if (page === navPage)
		li.cabinet-nav__item.cabinet-nav__item--active
			a(href=link).cabinet-nav__link=text
	else
		li.cabinet-nav__item
			a(href=link).cabinet-nav__link=text

.cabinet-nav
	ul.cabinet-nav__list
		+cabinetNavLink('cabinet.html', 'Мой профиль', 'profile')
		+cabinetNavLink('cabinet-orders.html', 'Мои заказы', 'orders')
		+cabinetNavLink('cabinet-settings.html', 'Мои настройки', 'settings')