section.s-breadcrumbs
	.container
		ul.breadcrumbs
			li.breadcrumbs__item
				a(href="index.html").breadcrumbs__home
					+icon('home', 'breadcrumbs__icon')
			li.breadcrumbs__item
				span.breadcrumbs__current Карта сайта