.category-item
	.category-prev__title
		a(href="#").category-prev__title-text Категории
		span.category-prev__title-count 999
	ul.category-prev__list
		li.category-prev__item
			a(href="#").category-prev__link Планка стыковочная
			span.category-prev__title-count 23
		li.category-prev__item
			a(href="#").category-prev__link Планка ендовы нижняя
			span.category-prev__title-count 23
		li.category-prev__item
			a(href="#").category-prev__link Планка ендовы верхняя(разжелобок)
			span.category-prev__title-count 23
		li.category-prev__item
			a(href="#").category-prev__link Планка узла наружного
			span.category-prev__title-count 23
		li.category-prev__item
			a(href="#").category-prev__link Планка узла внутреннего
			span.category-prev__title-count 23
		li.category-prev__item
			a(href="#").category-prev__link Показать еще 20
					
			