.filter
	.filter__header
		span.filter__title Фильтр
	.filter__body
		.filter-item
			.filter-item__header
				span.filter-item__title Цена за шт.
			.filter-item__body
				.filter-slider
					.filter-slider__values
						input.input-field.input-field--size-s.filter-slider__value.filter-slider__value--from
						.filter-slider__values-line
						input.input-field.input-field--size-s.filter-slider__value.filter-slider__value--to
					.filter-slider__line(data-range-type="price")
		.filter-item
			.filter-item__header
				span.filter-item__title Толщина металла
			.filter-item__body
				.filter-slider
					.filter-slider__values
						input.input-field.input-field--size-s.filter-slider__value--from
						.filter-slider__values-line
						input.input-field.input-field--size-s.filter-slider__value--to
					.filter-slider__line(data-range-type="mm")
		.filter-item
			.filter-item__header
				span.filter-item__title Материал
			.filter-item__body
		.filter-item
			.filter-item__header
				span.filter-item__title Полимерное покрытие
			.filter-item__body
				ul.filter-list
					li.filter-list__item
						label.checkbox
							input(type="checkbox")
							span.checkbox__custom
							.checkbox__body
								span.checkbox__text Цветное с одной стороны
						span.count-text 456
					li.filter-list__item
						label.checkbox
							input(type="checkbox")
							span.checkbox__custom
							.checkbox__body
								span.checkbox__text Цветное с двух сторон
						span.count-text 456
					li.filter-list__item
						label.checkbox
							input(type="checkbox")
							span.checkbox__custom
							.checkbox__body
								span.checkbox__text Printech с рисунком под дерево
						span.count-text 456
					li.filter-list__item
						label.checkbox
							input(type="checkbox")
							span.checkbox__custom
							.checkbox__body
								span.checkbox__text Printech с рисунком под камень
						span.count-text 456
					li.filter-list__item
						label.checkbox
							input(type="checkbox")
							span.checkbox__custom
							.checkbox__body
								span.checkbox__text Printech с рисунком под кирпич
						span.count-text 456
		.filter-item
			.filter-item__header
				span.filter-item__title Цвет
			.filter-item__body
				ul.filter-list
					li.filter-list__item
						label.checkbox
							input(type="checkbox")
							span.checkbox__custom
							.checkbox__body
								span.checkbox__text Зеленый
								.color-block(style="background-color: #417505")
						span.count-text 456
					li.filter-list__item
						label.checkbox
							input(type="checkbox")
							span.checkbox__custom
							.checkbox__body
								span.checkbox__text Коричневый
								.color-block(style="background-color: #8b572a")
						span.count-text 456
					li.filter-list__item
						label.checkbox
							input(type="checkbox")
							span.checkbox__custom
							.checkbox__body
								span.checkbox__text Красное вино
								.color-block(style="background-color: #ae0707")
						span.count-text 456
					li.filter-list__item
						label.checkbox
							input(type="checkbox")
							span.checkbox__custom
							.checkbox__body
								span.checkbox__text Красный
								.color-block(style="background-color: #ff4d63")
						span.count-text 456
					li.filter-list__item
						label.checkbox
							input(type="checkbox")
							span.checkbox__custom
							.checkbox__body
								span.checkbox__text Серый
								.color-block(style="background-color: #ff4d63")
						span.count-text 456
					li.filter-list__item
						label.checkbox
							input(type="checkbox")
							span.checkbox__custom
							.checkbox__body
								span.checkbox__text Черный
								.color-block(style="background-color: #000000")
						span.count-text 456
				a(href="#popup-colors-catalog").filter__link.js-popup-link Выбрать в каталоге
					span.count-text 473
		.filter-item
			.filter-item__header
				span.filter-item__title Коллекция
			.filter-item__body
				ul.filter-list
					li.filter-list__item
						label.checkbox
							input(type="checkbox")
							span.checkbox__custom
							.checkbox__body
								span.checkbox__text Времена года
						span.count-text 456
					li.filter-list__item
						label.checkbox
							input(type="checkbox")
							span.checkbox__custom
							.checkbox__body
								span.checkbox__text Времена года
						span.count-text 456
					li.filter-list__item
						label.checkbox
							input(type="checkbox")
							span.checkbox__custom
							.checkbox__body
								span.checkbox__text Времена года
						span.count-text 456
					li.filter-list__item
						label.checkbox
							input(type="checkbox")
							span.checkbox__custom
							.checkbox__body
								span.checkbox__text Времена года
						span.count-text 456
					li.filter-list__item
						label.checkbox
							input(type="checkbox")
							span.checkbox__custom
							.checkbox__body
								span.checkbox__text Времена года
						span.count-text 456
				.filter__toggle
					.filter__toggle-text Показать еще
		.filter-item
			.filter-item__header
				span.filter-item__title Спецпредложения
			.filter-item__body
				ul.filter-list
					li.filter-list__item
						label.checkbox
							input(type="checkbox")
							span.checkbox__custom
							.checkbox__body
								span.checkbox__text Краска в подарок
						span.count-text 456
	.filter__footer
		button.btn
			span Показать
			span.count-text 987
		span.filter__clear Очистить