section.s-often-looking
	.container
		.section-header
			h3.title-section--small Часто ищут доборные элементы кровли
		.often-looking
			.category-list__wrapper
				.category-prev__title
					a(href="#").category-prev__title-text По материалу
				ul.category-prev__list
					li.category-prev__item
						a(href="#").category-prev__link Добротные элементы кровли из оцинкованной стали
						span.category-prev__title-count 23
					li.category-prev__item
						a(href="#").category-prev__link Добротные элементы кровли из неоцинкованной х.к стали
						span.category-prev__title-count 23			
			.category-list__wrapper
				.category-prev__title
					a(href="#").category-prev__title-text По цвету
				ul.category-prev__list
					li.category-prev__item
						a(href="#").category-prev__link Добротные элементы кровли зеленого цвета
						span.category-prev__title-count 23
					li.category-prev__item
						a(href="#").category-prev__link Добротные элементы кровли красного цвета
						span.category-prev__title-count 23
					li.category-prev__item
						a(href="#").category-prev__link Добротные элементы кровли черного цвета
						span.category-prev__title-count 23
			.category-list__wrapper
				.category-prev__title
					a(href="#").category-prev__title-text По толщине металла
				ul.category-prev__list
					li.category-prev__item
						a(href="#").category-prev__link Добротные элементы кровли толщиной 0,4 мм
						span.category-prev__title-count 23
					li.category-prev__item
						a(href="#").category-prev__link Добротные элементы кровли толщиной 0,5 мм
						span.category-prev__title-count 23
					li.category-prev__item
						a(href="#").category-prev__link Добротные элементы кровли толщиной 0,7 мм
						span.category-prev__title-count 23			
					li.category-prev__item
						a(href="#").category-prev__link Добротные элементы кровли толщиной 0,8 мм
						span.category-prev__title-count 23
								
			