section.s-subcategory
	.container
		.section-header
			h1.title-page Доборные элементы кровли
				span.count-text 2341
		.subcategory
			aside.subcategory__aside
				include _category-list
				include _filter
			main.subcategory__main
				include _tags
				include _status
				include ../../elements/_pagination