.subcategory-status
	.sort
		.sort-item
			span.sort-item__title Упорядочить:
			.sort-action
				span.sort-action__current по популярности
		.sort-item
			span.sort-item__title Показывать по:
			.sort-action
				span.sort-action__current 30
	.page-counter
		span.page-counter__text Страница
		span.page-counter__number <b>1</b> из 7
		