.subcategory__products
	include ../../elements/product/prev-counter/_prev-1.pug
	include ../../elements/product/prev-counter/_prev-2.pug
	include ../../elements/product/prev-counter/_prev-3.pug
	include ../../elements/product/prev-counter/_prev-4.pug
	include ../../elements/product/prev-counter/_prev-1.pug
	include ../../elements/product/prev-counter/_prev-2.pug
	include ../../elements/product/prev-counter/_prev-3.pug
	include ../../elements/product/prev-counter/_prev-4.pug
	include ../../elements/product/prev-counter/_prev-1.pug
	include ../../elements/product/prev-counter/_prev-2.pug
	include ../../elements/product/prev-counter/_prev-3.pug
	include ../../elements/product/prev-counter/_prev-4.pug