section.s-breadcrumbs
	.container
		ul.breadcrumbs
			li.breadcrumbs__item
				a(href="index.html").breadcrumbs__home
					+icon('home', 'breadcrumbs__icon')
			li.breadcrumbs__item
				span.breadcrumbs__label.breadcrumbs-nav__toggle Каталог металлопродукции
				ul.breadcrumbs-nav
					li.breadcrumbs-nav__item
						a(href="#").breadcrumbs-nav__link
							span.breadcrumbs-nav__text Рулонная сталь
							span.count-text 23
					li.breadcrumbs-nav__item
						a(href="#").breadcrumbs-nav__link
							span.breadcrumbs-nav__text Профнасил
							span.count-text 23
					li.breadcrumbs-nav__item
						a(href="#").breadcrumbs-nav__link
							span.breadcrumbs-nav__text Листовой прокат
							span.count-text 23
					li.breadcrumbs-nav__item
						a(href="#").breadcrumbs-nav__link
							span.breadcrumbs-nav__text Фасад
							span.count-text 23
					li.breadcrumbs-nav__item
						a(href="#").breadcrumbs-nav__link
							span.breadcrumbs-nav__text Расродажа
							span.count-text 23
					li.breadcrumbs-nav__item
						a(href="#").breadcrumbs-nav__link
							span.breadcrumbs-nav__text Специальные предложения
							span.count-text 23
			li.breadcrumbs__item
				span.breadcrumbs__current Доборные элементы кровли				