.tags
	.tags__body
		span.tags__title Часто ищут
		.tag
			span.tag__text Разжелобок из оцинкованной стали
			span.count__text 123
		.tag
			span.tag__text Планка стыковочная толщиной 0.4 мм
			span.count__text 123
		.tag
			span.tag__text Планка угла наружного
			span.count__text 123
		.tag
			span.tag__text Еще один запрос
			span.count__text 123
	span.tags__toggle Все запросы