.tags
	.tags__body
		span.tags__title Часто ищут
		.tag
			span.tag__text Разжелобок из #[br] оцинкованной стали
			span.count-text 123
		.tag
			span.tag__text Планка стыковочная #[br] толщиной 0.4 мм
			span.count-text 123
		.tag
			span.tag__text Планка угла #[br] наружного
			span.count-text 123
		.tag
			span.tag__text Еще один #[br] запрос
			span.count-ext 123
	span.tags__toggle Все запросы