nav.catalog-mobile-nav
	ul.catalog-mobile-nav__list
		li.catalog-mobile-nav__item
			.catalog-mobile-nav__label
				span.catalog-mobile-nav__label-text Кровля
				span.count-text 1234
				ul.catalog-mobile-subnav
					li.catalog-mobile-subnav__item
						a(href="#").catalog-mobile-subnav__link.catalog-mobile-subnav__link--main
							.catalog-mobile-subnav__label
								span.catalog-mobile-subnav__label-text Показать все для кровли
								span.count-text 23
					li.catalog-mobile-subnav__item
						a(href="#").catalog-mobile-subnav__link.catalog-mobile-subnav__link--main
							.catalog-mobile-subnav__label
								span.catalog-mobile-subnav__label-text Металлочерепица
								span.count-text 23
							ul.catalog-mobile-subnav
								li.catalog-mobile-subnav__item
									a(href="#").catalog-mobile-subnav__link Лестнницы на крышу
									span.count-text 23
								li.catalog-mobile-subnav__item
									a(href="#").catalog-mobile-subnav__link Лестнницы в дом
									span.count-text 23
		li.catalog-mobile-nav__item
			.catalog-mobile-nav__label
				span.catalog-mobile-nav__label-text Рулонная сталь
				span.count-text 1234
		li.catalog-mobile-nav__item
			.catalog-mobile-nav__label
				span.catalog-mobile-nav__label-text Профнастил
				span.count-text 1234
		li.catalog-mobile-nav__item
			.catalog-mobile-nav__label
				span.catalog-mobile-nav__label-text Листовой прокат
				span.count-text 1234
		li.catalog-mobile-nav__item
			.catalog-mobile-nav__label
				span.catalog-mobile-nav__label-text Фасад
				span.count-text 1234