section.s-promo
	.container
		.section-header
			h2.title-section Акции и спецпредложения
			.section-header__right
				.section-header__link Все спецпредложения
				span.section-header__count.category-prev__title-count 123
		.actions-prev
			.action-prev
				.action-prev__header(style="background-image:url('assets/img/content/actions/actions-prev-3.jpeg')")
					a(href="#").btn Купить листы оцинкованные
				.action-prev__body
					.action-prev__text
						span.action-prev__descr Специальные предложения
						span.action-prev__title на листы оцинкованные
			.action-prev
				.action-prev__header(style="background-image:url('assets/img/content/actions/actions-prev-1.jpeg')")
					a(href="#").btn Купить доборные элементы кровли
				.action-prev__body
					.action-prev__text
						span.action-prev__descr Распродажа 
						span.action-prev__title доборных элементов кровли
			.action-prev.action-prev--tablet-hide
				.action-prev__header(style="background-image:url('assets/img/content/actions/actions-prev-2.jpeg')")
					a(href="#").btn Купить профнастил со скидкой
				.action-prev__body
					.action-prev__text
						span.action-prev__descr Скидки до 50%
						span.action-prev__title на профнастил