// Fonts
$helvetica: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif
$regular-font: "Sourcesanspro", $helvetica
// Colors
$black: #000
$white: #fff
$main-bg-color: #f2f2f2
$link-color: #1fa349
$dark-bg-color: #003333
$base-text-color: #333
$placeholder-color: #bababa
$input-border-color: #ededed
$action-color: #f8e71c

// Sizes

$base-font-size: 16px	

$content-size: 1240px

$breakpoints: ("phone": 400px, "phone-wide": 480px, "phablet": 560px,"tablet-small": 640px,"tablet": 768px, "tablet-wide": 1024px, "desktop": 1248px, "desktop-wide": 1440px)

	
// Transition
$trs: all 0.5s ease-in-out