section.s-not-found
	.container
		.not-found
			span.not-found__number 404
			h1.title-page Страница не найдена
			p.not-found__text По ссылке, которую вы попытались открыть, страницы не оказалось.#[br]Попробуйте найти нужную страницу через поиск.
			form.search__form.search.search__line--not-found
				input(placeholder="Артикул  или название товара", type="search").input-field.input-field--size-s
				+icon("search", "search__icon")