mixin footerNavLink(link, text, descr)
	li.footer-nav__item
		a(href=link).footer-nav__link=text
		if(descr)
			span.footer-nav__descr=descr

footer.footer
	.footer-top
		.container
			.footer-callback
				img(src="assets/img/wiki.png", alt="alt").footer-callback__img
				.order-callback.footer-callback__order-callback
					span.order-callback___description Звоните круглосуточно
					a(href="tel:8 800 334-88-88").order-callback__phone 8 800 334-88-88
					a(href="#").order-callback__link Заказать звонок	
			.footer-main
				.footer__col
					span.footer__title О нас
					ul.footer-nav__list
						+footerNavLink('#', 'Оплата и доставка', '')
						+footerNavLink('#', 'Гарантия', '')
						+footerNavLink('#', 'Услуги по обработке металла', '')
						+footerNavLink('#', 'Компания', '')
						+footerNavLink('#', 'Контакты', 'связь с директором')
				.footer__col
					span.footer__title Каталог
					ul.footer-nav__list
						+footerNavLink('#', 'Все для кровли', '')
						+footerNavLink('#', 'Фасад', '')
						+footerNavLink('#', 'Профнастил', '')
						+footerNavLink('#', 'Листовой прокат', '')
						+footerNavLink('#', 'Рулонная сталь', '')
				.footer__col
					span.footer__title Принимаем к оплате
					.footer__block
						.payment-types
							ul.payment-types__list
								li.payment-types__item
									+icon('visa','payment-types__logo')
								li.payment-types__item
									+icon('mastercard','payment-types__logo')
								li.payment-types__item
									+icon('Mir','payment-types__logo')
							a(href="#").link-underline.link-yellow Оплата заказа онлайн
					.footer__block
						.footer-action
							span.footer-action__title Акции и спецпредложения
							.action-tooltip
								+icon('gift', 'action-tooltip__icon')
								span.action-tooltip__text Мультиварка в подарок до 31 декабря!
				.footer__col
					.footer__block
						span.footer__title Контакты
						.footer-contacts
							+icon('location', 'footer-contacts__icon')
							span.footer-contacts__title Офис
							p.footer-contacts__text 111011, London, Queeen Mary str., 11 - 9
								.contacts-popup
									span.contacts-popup__toggle на карте
									.contacts-popup__body
										.contacts-popup__map#contacts-popup-office
										.contacts-popup__info
											.contacts-popup__close
												.icon.contacts-popup__close-icon &times;
											span.contacts-popup__title Центральный офис в Лондоне
											span.contacts-popup__text 111011, London, Queeen Mary str., 11 - 9
											.contacts-popup__block
												span.contacts-popup__label Время работы:
												span.contacts-popup__text пн-пт 9:00-18:00
											.contacts-popup__qr
												span.contacts-popup__text Для построения маршрута наведите камеру телефона на QR код
												img(src="assets/img/wiki.png", alt="alt").contacts-popup__qr-image
					.footer__block
						.footer-contacts
							+icon('location', 'footer-contacts__icon')
							span.footer-contacts__title Производство и склад
							p.footer-contacts__text 111011, Birmingham, Locksmith str., 10 - 7
								.contacts-popup
									span.contacts-popup__toggle на карте
									.contacts-popup__body
											.contacts-popup__map#contacts-popup-stock
											.contacts-popup__info
												.contacts-popup__close
													.icon.contacts-popup__close-icon &times;
												span.contacts-popup__title Производство и склад
												span.contacts-popup__text 111011, Birmingham, Locksmith str., 10 - 7
												.contacts-popup__block
													span.contacts-popup__label Время работы:
													span.contacts-popup__text пн-пт 9:00-18:00
												.contacts-popup__qr
													span.contacts-popup__text Для построения маршрута наведите камеру телефона на QR код
													img(src="assets/img/wiki.png", alt="alt").contacts-popup__qr-image
		.footer-bottom
		.container
			.footer-bottom__line
				span.copyright &copy; 2018 Завод «Glastonberry»
				a(href="#").footer-bottom__link Политика конфиденциальности
				a(href="#").footer-bottom__link Карта сайта
			.footer-bottom__line
				p.footer-bottom__text Сайт venev.ru давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона.
				p.footer-bottom__text А также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации.
