header.header
	.container
		.header-top
			include ../elements/header/_location
			include ../elements/header/_header-navigation
			.user-nav.header-top__user-nav
				a(href="#").user-nav__link Войти
	.header-main
		.container
			.logo.header-main__logo
				img(src="assets/img/logo.png", alt="logo").logo__img
				span.logo__text Продажа стройматериалов
			include ../elements/header/_catalog-nav
			.search.header-main__search
				input(placeholder="Артикул  или название товара").input-field.input-field--size-s
				+icon("search", "search__icon")
			.order-callback.header-main__order-callback
				span.order-callback__description Звоните круглосуточно
				a(href="tel:88003348888").order-callback__phone 8 800 334-88-88
				a(href="#").order-callback__link Заказать звонок
			include ../elements/header/_basket-prev