.cabinet-nav
	ul.cabinet-nav__list
		li.cabinet-nav__item.cabinet-nav__item--active
			a.cabinet-nav__link(href="#") Мой профиль
		li.cabinet-nav__item
			a.cabinet-nav__link(href="#") Мои заказы
		li.cabinet-nav__item
			a.cabinet-nav__link(href="#") Мои настройки

