section.s-cabinet
	.container
		.section-header
			h1.title-page Личный кабинет
		.cabinet
			include ../../elements/cabinet/_navigation
			.cabinet__main
				form.profile-form.form
					.form__body
						.profile-form__item
							span.profile-form__title Изменить пароль
							.form-line
								.form-group.form-group--password.form-group--width-m
									.form-group__header
										label.form-group__label Текущий пароль
									.form-group__body
										+icon('eye', 'form-password-icon-toggle')
										input.input-field(type="password",, name="password", placeholder="Введите пароль",minlength="8")
						.profile-form__item
							.form-line
								.form-group.form-group--password.form-group--width-m
									.form-group__header
										label.form-group__label Новый пароль
									.form-group__body
										input.input-field(type="password",, name="password", placeholder="Введите пароль",minlength="8")
								.form-password-requirements
									span.form-password-requirements__name Укажите сильный пароль:
									ul.form-password-requirements__list
										li.form-password-requirements__item Длина не менее 8 символов
										li.form-password-requirements__item.form-password-requirements__item--success Включает буквы и цифры
						.profile-form__item
							.form-line
								.form-group.form-group--password.form-group--width-m
									.form-group__header
										label.form-group__label Повторите пароль
									.form-group__body
										input.input-field(type="password",, name="password", placeholder="Введите пароль",minlength="8")
									.form-group__footer
										.form-message.form-message--success
											span.form-message__text Пароли совпадают
					.form__footer
						.form-line
							.form-group
								input.btn.btn--size-l(type="submit", value="Изменить пароль")