.popup.mfp-hide#popup-login
	.popup__header
		span.popup__title Войти в личный кабинет
		.popup__close
			.icon.icon__close.popup__close-icon &times;
	.popup__body
		.popup__row
			.popup__col
				form.form
					.form__body
						.form-line
							.form-group
								.form-group__header
									label.form-group__label Электронная почта
								.form-group__body
									input.input-field(type="email", name="email", placeholder="email@email.com")
						.form-line
							.form-group
								.form-group__header
									label.form-group__label Пароль
									a(href="#").link--underline Забыли пароль
								.form-group__body
									input.input-field(type="password", placeholder="Введите пароль", name="password")
					.form__footer
						.form-line
							.form-group
								input(type="submit", value="Войти").btn.btn--size-l.btn-fill
			.popup__col.popup__col--small
				.unregistered
					span.unregistered__text Нет личного кабинета?
					a(href="#popup-registration").js-popup-link.link--underline Зарегистрироваться
					span.unregistered__info Зарегистрированные пользователи получают скидку 3% на весь ассортимент
