.popup.mfp-hide#popup-upgrade
	.hide-on-success
		.popup__header
			span.popup__title Что можно улучшить на этой странице
			.popup__close
				.icon.icon__close.popup__close-icon &times;
		.popup__body
			form.form
				.form__body
					.form-line
						.form-group.form-group--reqiured
							label.form-group__label Вопрос или комментарий
							textarea(placeholder="Здравствуйте, на этой странице можно...", name="req-textarea").textarea-field
					.form-line
						.form-group.form-group--width-m
							label.form-group__label Электронная почта
							input(type="email", placeholder="Введите свой email", name="email").input-field
						span.form-line__info.form-line__info--size-s Мы быстрее исправим ошибку, если сможем связаться с вами для уточнения информации
					.form-line
						.form-group.form-group--width-m.form-group--reqiured
							label.form-group__label Контактный телефон
							input(type="tel", placeholder="+8(800)123-45-54", name="phone").input-field
				.form__footer
					.form-line
						.form-group.form-group--width-m
							input(type="submit", value="Предложить улучшение").btn.btn--size-l.btn-fill
					.form-line
						p.form-info Задавая вопрос, вы соглашаетесь с #[a(href="#").form-info__link политикой конфиденциальности]         
	.show-on-success
		.popup__header
			span.popup__title Что можно улучшить на этой странице
			.popup__close
				.icon.icon__close.popup__close-icon &times;
		.popup__body
			.form-success
				.form-success__block
					.form-success__info
						span.form-success__text Номер вашей заявки
						span.form-success__number 1234
					p.form-success__text.form-success__text--little Менеджер позвонит на указанный телефон сегодня #[b до 14:43] по Гринвичу.
				.form-success__block
					span.form-success__label Не готовы ждать?
					.form-success__row
						.form-success__col
							.form-success-contacts
								+icon('phone', 'form-success-contacts__icon')
								span.form-success-contacts__text Звоните круглосуточно
								a(href="tel:+88003348888").link-green.form-success-contact__link +8 800 334-88-88
								a(href="#").link-underline.link-code Набрать номер по QR коду
						.form-success__col
							.form-success-contacts
								+icon('mail', 'form-success-contacts__icon')
								span.form-success-contacts__text Напишите нам email
								a(href="mailto:question@budmag.com").link-green.form-success-contact__link question@budmag.com
						