mixin orderKitItem(text, count)
	.order-product-kit__item
		.order-table__cell.order-table__cell--product
			span.order-product-kit__text=text
		.order-table__cell.order-table__cell--count
			span.order-product-kit__count=count
		.order-table__cell.order-table__cell--price
		.order-table__cell.order-table__cell--total-price

mixin orderCounter()
	.order-table__cell.order-table__cell--count
		.order-product__count
			.counter.order-product__counter
				.counter__btn.counter__btn--minus
					.counter__icon.minus &#8722;
				.counter__current
					span.counter__current-text 1
					span.counter__current-descr шт.
				.counter__btn.counter__btn.counter__btn--plus
					.counter__icon.plus &#43;

section.s-basket
	.container
		.section-header
			h1.title-page Корзина
		.basket
			.basket-add
				input(placeholder="Быстрое добавление: введите название товара или артикул").basket-add__input.input-field
				.basket-add__body
					each prod in [1,2,3,4]
						.basket-add-product
							span.basket-add-product__name Планка стыковочная 30x20x3000 мм, толщина 0.4 мм
							span.count-text 365 фун. за шт.
			.order-description
				span.order-description__text Создан 29 августа 2019г. в 14:23 грн
				span.order-description__text Выполнен 4 сентября 2019г.
			.order-table
				.order-table__header
					.order-table__row
						.order-table__cell.order-table__cell--product
							span.order-table__cell-name Название товара
						.order-table__cell.order-table__cell--count
							span.order-table__cell-name Количество
						.order-table__cell.order-table__cell--price
							span.order-table__cell-name Цена за единицу, фун.
						.order-table__cell.order-table__cell--total-price
							span.order-table__cell-name Стоимость, фун.
				.order-table__body
					.order-table__block
						span.order-table__block-title Доборные элементы кровли
						.order-product
							.order-product__main
								.order-table__cell.order-table__cell--product
									.order-product__info
										.order-product__image-wrapper
											img(src="assets/img/content/products/prev-1.jpg", alt="alt").order-product__image
										a(href="#").link.order-product__name Планка стыковочная 30x30x200 ммб толщина 0.4 мм, цвет графитовый серый RAL 7024
										.order-product__line
											span.order-product__line-label.label-text Артикул
											span.order-product__line-value 13763515
								+orderCounter()
								.order-table__cell.order-table__cell--price
									.order-product__price
										span.order-product__price-old 60000
										span.order-product__price-current 60 000
								.order-table__cell.order-table__cell--total-price
									.order-product__total-price
										span.order-product__total-price-text 78
								.order-table__cell.order-table__cell--remove
									+icon('garbage', 'order-product__remove')
						.order-product
							.order-product__main
								.order-table__cell.order-table__cell--product
									.order-product__info
										.order-product__image-wrapper
											img(src="assets/img/content/products/prev-1.jpg", alt="alt").order-product__image
										a(href="#").link.order-product__name Планка стыковочная 30x30x200 ммб толщина 0.4 мм, цвет графитовый серый RAL 7024
										.order-product__line
											span.order-product__line-label.label-text Артикул
											span.order-product__line-value 13763515
								+orderCounter()
								.order-table__cell.order-table__cell--price
									.order-product__price
										span.order-product__price-old 66
										span.order-product__price-current 78
								.order-table__cell.order-table__cell--total-price
									.order-product__total-price
										span.order-product__total-price-text 780
								.order-table__cell.order-table__cell--remove
									+icon('garbage', 'order-product__remove')
						.order-product
							.order-product__main
								.order-table__cell.order-table__cell--product
									.order-product__info
										.order-product__image-wrapper
											img(src="assets/img/content/products/prev-1.jpg", alt="alt").order-product__image
										a(href="#").link.order-product__name Планка стыковочная 30x30x200 ммб толщина 0.4 мм, цвет графитовый серый RAL 7024
										.order-product__line
											span.order-product__line-label.label-text Артикул
											span.order-product__line-value 13763515
								+orderCounter()
								.order-table__cell.order-table__cell--price
									.order-product__price
										span.order-product__price-old
										span.order-product__price-current Под заказ
								.order-table__cell.order-table__cell--total-price
									.order-product__total-price
										span.order-product__total-price-text
								.order-table__cell.order-table__cell--remove
									+icon('garbage', 'order-product__remove')
							.order-product__message
								+icon('attention', 'order-product__message-icon')
								span.order-product__message-text Этот товар увеличивает общий срок доставки заказа с 27 ноября до 30 ноября - 4 декабря
					.order-table__block
						span.order-table__block-title Металлочерепица
						.order-product.order-product--removed
							.order-product__main
								.order-table__cell.order-table__cell--product
									.order-product__info
										.order-product__image-wrapper
											img(src="assets/img/content/products/prev-1.jpg", alt="alt").order-product__image
										a(href="#").link.order-product__name Планка стыковочная 30x30x200 ммб толщина 0.4 мм, цвет графитовый серый RAL 7024
										.order-product__line
											span.order-product__line-label.label-text Артикул
											span.order-product__line-value 13763515
								+orderCounter()
								.order-table__cell.order-table__cell--price
									.order-product__price
										span.order-product__price-old 60000
										span.order-product__price-current 60 000
								.order-table__cell.order-table__cell--total-price
									.order-product__total-price
										span.order-product__total-price-text 78
								.order-table__cell.order-table__cell--remove
									+icon('garbage', 'order-product__remove')
						.order-product
							.order-product__main
								.order-table__cell.order-table__cell--product
									.order-product__info
										.order-product__image-wrapper
											img(src="assets/img/content/products/prev-1.jpg", alt="alt").order-product__image
										a(href="#").link.order-product__name Планка стыковочная 30x30x200 ммб толщина 0.4 мм, цвет графитовый серый RAL 7024
										.order-product__line
											span.order-product__line-label.label-text Артикул
											span.order-product__line-value 13763515
								+orderCounter()
								.order-table__cell.order-table__cell--price
									.order-product__price
										span.order-product__price-old 66
										span.order-product__price-current 78
								.order-table__cell.order-table__cell--total-price
									.order-product__total-price
										span.order-product__total-price-text 780
								.order-table__cell.order-table__cell--remove
									+icon('garbage', 'order-product__remove')
					.order-table__block
						span.order-table__block-title Готовые комплекты
						.order-product.order-product--show-kit
							.order-product__main
								.order-table__cell.order-table__cell--product
									.order-product__info
										.order-product__image-wrapper
											img(src="assets/img/content/products/prev-1.jpg", alt="alt").order-product__image
										a(href="#").link.order-product__name Планка стыковочная 30x30x200 ммб толщина 0.4 мм, цвет графитовый серый RAL 7024
										.order-product__line
											span.order-product__line-label.label-text Артикул
											span.order-product__line-value 13763515
										.order-product-kit__toggle
											span.order-product-kit__toggle-text Скрыть состав комплекта
								+orderCounter()
								.order-table__cell.order-table__cell--price
									.order-product__price
										span.order-product__price-old 60000
										span.order-product__price-current 60 000
								.order-table__cell.order-table__cell--total-price
									.order-product__total-price
										span.order-product__total-price-text 78
								.order-table__cell.order-table__cell--remove
									+icon('garbage', 'order-product__remove')
							.order-product-kit__hide
								+orderKitItem('Желоб полукруглый, 125ммб 3м, RAL9003', '2 шт')
								+orderKitItem('Заглушка торц. универс., 125мм, 3м, RAL900', '1шт')
								+orderKitItem('Желоб полукруглый, 125ммб 3м, RAL9003', '2 шт')
								+orderKitItem('Заглушка торц. универс., 125мм, 3м, RAL900', '1шт')
								+orderKitItem('Желоб полукруглый, 125ммб 3м, RAL9003', '2 шт')
								+orderKitItem('Заглушка торц. универс., 125мм, 3м, RAL900', '1шт')
					.basket-price
						.basket-price__line.basket-price__line--total
							span.basket-price__line-label Итого:
							span.basket-price__line-value 11 920 фун.
						.basket-price__line
							span.basket-price__discount Ваша скидка #[b 2000 фун.]
						.basket-price__line
							.descr-text Цены актуальны в течение 48 часов с момента заказа
						.basket-action
							a(href="#").btn.btn--border-yellow Оформить заказ без регистрации
							a(href="#").btn Перейти к оформлению заказа
				.helper
					span.helper__title Возникли вопросы по оформлению заказа?
					.helper__row
						.helper__col
							a(href="#popup-consultation").js-popup-link.btn.btn--border-green.btn--transparent-green Получить консультацию
						.helper__col
							p.helper__text Также получить ответы на вопросы можно по телефону #[a(href="tel:+84993348888")  +8 499 334-88-88] (круглосуточно)