.footer
	&-top
		color: $white
		font-size: 12px
		background-color: $dark-bg-color
		padding: 30px 0
		.container
			& > *
				margin: 40px 0
				&:first-child
					margin-top: 0 
				&:last-child
					margin-bottom: 0 
	&-bottom
		background-color: $darkest-bg
		color: rgba($white, 0.6)
		font-size: 12px
		padding: 10px 0
		&__link
			color: $white
		.container
			& > *
				margin: 10px 0
				&:first-child
					margin-top: 0
				&:last-child
					margin-bottom: 0
		&__line
			& > *
				&:not(:last-child)
					margin-right: 30px
		&__link
			text-decoration: underline
.footer
	&-callback
		display: flex
		align-items: center
		& > *
			&:not(:last-child)
				margin-right: 20px
		&__img
			width: 80px
			height: 50px
	&-main
		+row-flex
	&__col
		+col
		+size(3)
		+lg-block
			+size(12)
			& > *
				&:not(:last-child)
					margin-bottom: 20px
			margin-bottom: 50px
.footer
	&__title
		display: block
		margin-bottom: 10px
		font-weight: 700
	&-nav
		&__list
			& > *
				margin: 10px 0
				&:first-child
					margin-top: 0
				&:last-child
					margin-bottom: 0
		&__item
			font-size: 14px
			& > *
				&:not(:last-child)
					margin-right: 10px
		&__link
			color: $white
			font-size: 14px
		&__descr
			font-size: 12px
			color: rgba($white, 0.6)
.payment-types
	& > *
		margin: 15px 0
		&:first-child
			margin-top: 0
		&:last-child
			margin-bottom: 0
	&__list
		display: flex
		& > *
			&:not(:last-child)
				margin-right: 10px
.footer
	&-contacts
		position: relative
		padding-left: 25px
		&__icon
			+dem(16px)
			fill: $white
			left: 0px
			position: absolute
			top: 0
		&__title
			display: block
			font-size: 14px
			font-weight: 600
			margin-bottom: 10px
		&__text
			font-size: 12px
			color: $white
			line-height: 1.3
.footer
	&__block
		margin-bottom: 35px
		&:last-child
			margin-bottom: 0
		+lg-block
			margin-bottom: 20px
			&:last-child
				margin-bottom: 20px
	&-action
		position: relative
		display: inline-block
.payment-types__logo
	fill: $white
	height: 20px
	width: 30px
.action-tooltip
	background-color: $white
	border-radius: 4px
	padding: 10px 10px 10px 30px
	position: absolute
	left: 0
	right: 0
	top: calc(100% + 7px)
	&:before
		content: ''
		+arr(10px, 5px, $white, t)
		position: absolute
		left: 15px
		top: -6px
	&__icon
		+dem(16px)
		fill: #1fa349
		position: absolute
		top: 15px
		left: 8px
	&__text
		font-size: 12px
		color: $base-text-color
.footer-action
	&__title
		font-size: 14px
		font-weight: 600

// Footer popup

.contacts
	&-popup
		position: relative
		color: $base-text-color
		z-index: 11
		&.contacts-popup--active
			.contacts-popup__body-wrapper
				display: block
		&__toggle
			text-decoration: underline
			color: $white
			margin-left: 5px
			cursor: pointer
		&__body
			background-color: $white
			box-shadow: 0 0 30px 0 rgba(0,0,0,0.2)
			display: flex
			position: absolute
			bottom: 25px
			right: -20px
			display: flex
			width: 690px
			+lg-block
				width: auto
				flex-direction: column
				top: 60px
				right: 20px
				bottom: 20px
				left: 20px
			&-wrapper
				display: none
				+lg-block
					background-color: rgba(#003333, 0.3)
					bottom: 0
					left: 0
					position: fixed
					right: 0
					top: 0
					z-index: 11
			&:after
				content: ''
				+arr(12, 6, $white, b)
				position: absolute
				right: 210px
				bottom: -6px
				+lg-block
					display: none
		&__info
			flex: 0 0 260px
			max-width: 260px
			width: 260px
			padding: 40px 20px
			+lg-block
				order: 1
				flex: 1
				max-width: 100%
				width: auto
				padding: 30px 20px
		&__close
			display: flex
			align-items: center
			+dem(30px)
			justify-content: center
			cursor: pointer
			opacity: 0.2
			position: absolute
			right: 15px
			top: 15px
			+lg-block
				color: $action-color
				right: 0
				top: -30px
				opacity: 1
			&:hover
				opacity: 0.7
				+lg-block
					opacity: 1
			.contacts-popup__close-icon
				transform: scale(1.5)
				font-weight: 700
			&-icon
				font-size: 16px
				transition: $trs
		&__title
			display: block
			font-size: 18px
			line-height: 1.44
			margin-bottom: 10px
		&__text
			font-size: 14px
			line-height: 18px
			margin-bottom: 10px
			display: block
		&__block
			display: flex
			flex-direction: column
			margin-bottom: 20px
		&__label
			font-size: 14px
			font-weight: 700
		&__qr-image
			+dem(120px, 90px)
		&__map
			flex: 1
			+lg-block
				order: 2