.header__icon
	+dem(16px)
	fill: $base-text-color
	display: inline-block
	line-height: 20px
	flex-shrink: 0
.location__current
	font-weight: 400
.location
	flex: 0 0 175px
	width: 175px
	max-width: 175px
	display: flex
	align-items: center
	position: relative
	&__header
		display: flex
		align-items: center
		cursor: pointer
		position: relative
		&:not(:last-child)
			margin-right: 10px
	&__current
		padding-right: 19px
		width: 102px
		display: block
		overflow: hidden
		text-overflow: ellipsis
		white-space: nowrap
		&:after
			position: absolute
			z-index: 1
			right: 0
			top: 6px
			content: ''
			width: 0
			height: 0
			border-style: solid
			border-width: 4px 4.5px 0 4.5px
			border-color: $black transparent transparent transparent
			margin-left: 10px
	&-question
		display: flex
		align-items: center
		position: absolute
		box-shadow: 0 0 5px 0 rgba(159, 197, 178, 0.5)
		background-color: $white
		padding: 8px 10px
		border-radius: 4px
		z-index: 1
		left: 0
		top: calc(100% + 10px)
		& > *
			&:not(:last-child)
				margin-right: 15px
		&:after
			content: ''
			border-style: solid
			border-width: 0 10px 10px 10px
			border-color: transparent transparent $white transparent
			height: 0
			position: absolute
			left: 35px
			top: -9px
			width: 0
		&__buttons
			display: flex
			align-items: center
			& > *
				&:not(:last-child)
					margin-right: 10px
		&__text
			font-size: 18px
			line-height: 1.44
			font-weight: 400
			white-space: nowrap
	&-choose
		box-shadow: 0 9 30px 0 rgba(0, 0, 0, 0.2)
		border: 2px solid $action-color
		border-radius: 4px
		position: absolute
		left: 20px
		top: 10px
		z-index: 2
		background-color: $white
		width: 210px
		transition: $trs
		opacity: 0
		&__header
			border-bottom: 2px solid $action-color
		&__list
			overflow: auto
			padding: 15px 0
			height: 100%
		&__item
			font-size: 14px
			font-weight: 600
			line-height: 18px
			padding: 5px 15px
			transition: $trs
			cursor: pointer
			&:hover
				background-color: $action-color
		&__body
			position: relative
			height: auto
			max-height: 240px
			display: flex
			flex-direction: column
			&:before, &:after
				content: ''
				display: block
				position: absolute
				left: 0
				right: 0
				height: 30px
			&:before
				top: 0
				background-image: linear-gradient(to bottom, $white ,rgba(255, 255, 255, 0))
			&:after
				bottom: 0
				background-image: linear-gradient(to top, $white ,rgba(255, 255, 255, 0))
.icon-location
	margin-right: 10px
.main-nav
	&__list
		display: flex
	&__item
		&:not(:last-child)
			margin-right: 40px
	&__item
		font-size: 12px
		text-transform: uppercase
		letter-spacing: 0.65px
	&__link
		color: $base-text-color
.header
	&-top
		padding: 12px 0
		display: flex
		align-items: center
		&__user-nav
			margin-left: auto
	&__location
		margin-right: 80px
	&-main
		background-color: $dark-bg-color
		padding: 20px 0
		color: $white
		.container
			display: flex
			align-items: center
			position: relative
			& > *
				&:not(:last-child)
					margin-right: 30px
.user-nav
	&__link
		font-size: 12px
		text-transform: uppercase
		letter-spacing: 0.65px

.logo
	font-size: 12px
	display: flex
	flex-direction: column
	&__img	
		width: 151px
		height: auto
.catalog-nav
	&__header
		display: flex
		align-items: center
		cursor: pointer
		white-space: nowrap
		& > *
			&:not(:last-child)
				margin-right: 10px
.input-field
	background-color: $white
	border-radius: 4px
	height: 50px
	padding: 10px 15px
	box-shadow: none
	border: 1px solid $input-border-color
	width: 100%
	+placeholder
		color: $placeholder-color
	&.error
		border-color: $warning-color
		+placeholder
			color: $warning-color
	&.input-field--size
		&-s
			height: 40px
			font-size: 14px
			line-height: 20px
	&.input-field--width
		&-s
			max-width: 245px
.search
	display: flex
	align-items: center
	& > *
		&:not(:last-child)
			margin-right: 10px
	&__icon
		+dem(22px)
		fill: $white
	.input-field
		flex: 0 0 220px
		width: 220px
		outline: none
.order-callback
	display: flex
	flex-direction: column
	&__phone
		color: $action-color
		font-size: 24px
		font-weight: 800
		line-height: 1.5
		white-space: nowrap
	&__link
		color: $white
		font-size: 14px
		text-decoration: underline
		font-weight: 600
	&__description
		font-size: 12px
.basket-prev
	display: flex
	flex-direction: column
	&__cart
		+dem(25px)
		fill: $white
		margin-bottom: 7px
	&__title
		font-weight: 800
		line-height: 20px
		margin-bottom: 2px
	&__count
		font-size: 14px
		line-height: 18px
.header__basket-prev
	margin-left: auto

// Catalog nav

.catalog-nav
	&.catalog-nav--active
		.catalog-nav__body
			opacity: 1
	&__body
		position: absolute
		transition: $trs
		opacity: 0
		left: 80px
		top: calc(100% - 15px)
		color: $base-text-color
		background-color: $white
		border-radius: 4px
		box-shadow: 0 0 5px 0 rgba(159, 197, 178, 0.5)
		z-index: 1
		&:before
			content: ''
			+arr(20, 10, $white, t)
			position: absolute
			left: 183px
			top: -10px
	&__label
		display: flex
		align-items: center
		padding: 6px 25px 6px 15px
		transition: $trs
		cursor: pointer
		position: relative
		& > *
			&:not(:last-child)
				margin-right: 5px
		&:hover
			background-color: $action-color
		&:after
			content: ''
			+arr(5, 10, $base-text-color, r)
			position: absolute
			top: 10px
			right: 20px
		&-text
			font-weight: 600
			font-size: 14px
			line-height: 18px
	&__list
		width: 255px
		position: relative
		mlfch

// Catalog-subnav
.catalog-nav
	&__item
		&:first-child
			border-radius: 4px 4px 0 0
			overflow: hidden
		&:last-child
			border-radius: 0 0 4px 4px
			overflow: hidden
		&:hover
			.catalog-subnav
				display: block

.catalog-subnav
	position: absolute
	left: calc(100% - 2px)
	top: 0
	bottom: 0
	background-color: $white
	border-left: 1px solid $action-color
	border-radius: 0 4px 4px 0
	width: 670px
	padding-top: 15px
	padding-bottom: 0
	display: none
	.simplebar-vertical
		margin: 10px 10px 10px 0
	&__inner
		+row-flex
	&__col
		+col
		+size(6)
	&__header
		margin-bottom: 10px
	&__title
		font-weight: 600
		font-size: 18px
		line-height: 26px
	&__list
		& > *
			margin: 10px 0
			&:first-child
				margin-top: 0
			&:last-child
				margin-bottom: 15px
	&__item
		font-weight: 400
		font-size: 14px
		line-height: 18px
	&__link
		color: $base-text-color
.location
	&__body
		&.is-location-choose
			.location-choose
				opacity: 1
