// Common popup styles
.form
	&__body
		margin-bottom: 30px
		& > *
			margin: 20px 0
			&:first-child
				margin-top: 0
			&:last-child
				margin-bottom: 0
	&__footer
		& > *
			margin: 10px 0
			&:first-child
				margin-top: 0
			&:last-child
				margin-bottom: 0
.popup
	border-radius: 8px
	position: relative
	max-width: 520px
	margin: 50px auto
	+lg-block
		margin: 50px 15px
	&__header
		display: flex
		align-items: center
		background-color: $light-bg
		padding: 15px 25px 15px 40px
		+lg-block
			padding: 10px 20px
	&__close
		display: flex
		align-items: center
		+dem(30px)
		justify-content: center
		margin-left: auto
		cursor: pointer
		opacity: 0.2
		+lg(opacity,1)
		+lg-block
			margin-left: 0
			position: absolute
			right: 0
			top: -30px
		&:hover
			opacity: 0.7
			.popup__close-icon
				transform: scale(1.5)
				font-weight: 700
		&-icon
			font-size: 16px
			transition: $trs
			+lg-block
				font-size: 30px
				color: $action-color
	&__body
		background-color: $white
		padding: 40px
		+lg-block
			padding: 30px 20px
	&__title
		font-size: 18px
		line-height: 44px
	&__subtitle
			display: block
			font-size: 18px
			margin-bottom: 20px
			line-height: 1.44
	&.popup--big
		max-width: 800px
		.popup
			&__header
				background-color: $white
				padding: 20px 30px
			&__body
				padding: 0 30px 0
			&__title
				font-size: 30px
				font-weight: 600

// Form group styles
.form-group
	display: flex
	flex: 1
	flex-direction: column
	align-items: flex-start
	&__label
		color: $label-text-color
		font-size: 12px
		letter-spacing: 0.65px
		text-transform: uppercase
		margin-bottom: 10px
		position: relative
	& > *
		&:not(:last-child)
			margin-right: 20px
.form-group
	&.form-group--reqiured
		.form-group
			&__label
				&:after
					content: '*'
					color: $warning-color
					position: absolute
					right: -10px
					top: -10px
					font-size: 20px
	&.form-group
		&--width
			&-m
				max-width: 240px
				flex: 0 0 240px
				+lg-block
					flex: 1
					max-width: 100%
			&-l
				max-width: 280px
				flex: 0 0 280px
				+lg-block
					flex: 1
					max-width: 100%
				
.form-line__info--size-s
	font-size: 12px
// File upload styles
.file-upload
	display: flex
	align-items: center
	cursor: pointer
	input[type="file"]  
		display: none
	&__custom
		color: #1fa349
		display: flex
		font-size: 14px
		font-weight: 700
		& > *
			&:not(:last-child)
				margin-right: 10px
	&__icon
		+dem(12px, 16px)
		fill: #1fa349

.btn
	&.btn
		&--size
			&-s
				padding: 3px 15px
			&-l
				padding: 13px 30px
.form
	&-line
		display: flex
		align-items: center
		& > *
			&:not(:last-child)
				margin-right: 20px
		&__info
			font-size: 12px
			+lg-block
				display: none
			&.form-line__info
				&--color
					&-green
						color: #1fa349
	&-info
		font-size: 12px
		color: $placeholder-color
		&__link
			color: $placeholder-color
			text-decoration: underline
.mfp-bg
	background-color: $base-text-color
	opacity: 0.3
.textarea-field
	background-color: $white
	border: 1px solid $input-border-color
	border-radius: 4px
	box-shadow: none
	height: 100px
	width: 100%
	padding: 10px 15px
	+placeholder
		color: $placeholder-color
	&.error
		+placeholder
			color: $warning-color
		border-color: $warning-color

// Form success
.show-on-success
	display: none
	.popup__body
		padding: 0
.form
	&-success
		background-color: $light-bg
		& > *
			margin: 6px 0
			&:first-child
				margin-top: 0
			&:last-child
				margin-bottom: 0
		&__block
			background-color: $white
			padding: 30px 40px
			+lg-block
				padding: 30px 20px
		&__row
			display: flex
			+lg-block
				flex-direction: column
			& > *
				&:not(:last-child)
					margin-right: 25px
					+lg-block
						margin-right: 0
						margin-bottom: 15px
		&-contacts
			position: relative
			padding-left: 50px
			font-size: 14px
			display: flex
			flex-direction: column
			& > *
				margin: 3px 0
				&:first-child
					margin-top: 0
				&:last-child
					margin-bottom: 0
			&__icon
				+dem(35px)
				position: absolute
				left: 0
				top: 0
			&__link
				font-size: 12px
		&__info
			display: flex
			align-items: center
			font-size: 24px
			margin-bottom: 15px
			+lg-block
				font-size: 18px
			& > *
				&:not(:last-child)
					margin-right: 10px
		&__number
			font-weight: 700
		&__text
			&.form-success__text--little
				font-size: 14px
.link-code
	font-size: 12px
	color: $base-text-color

// Fast review
.fast-review-form
	background-color: $light-bg
	padding: 20px 40px 30px
	+lg-block
		padding: 20px
.review-line
	left: 1px
	position: absolute
	z-index: 1
	width: 0
	top: 30px
	height: 5px
	transition: $trs
	background-color: $action-color
	&__wrapper
		position: relative
		padding: 30px 0
		margin: 0 10px
	&__inner
		background-color: $input-border-color
		display: flex
		justify-content: space-between
		align-items: flex-end
		height: 5px
	&__item
		border-left: 1px solid #dedede
		height: 20px
		display: block
		margin-bottom: -5px
		position: relative
		&.review-line__item
			&--active
				.review-line__number
					background-color: $action-color
			&--descr
				&-right
					&:before
						left: auto
						right: 0
				&-center
					&:before
						left: -50%
						transform: translateX(-50%)
		&:before
			content: attr(data-fast-review)
			display: block
			color: $placeholder-color
			font-size: 12px
			position: absolute
			left: 0
			top: -20px
			white-space: nowrap
			+lg-block
				display: none
	&__number
		cursor: pointer
		border-radius: 50%
		position: absolute
		top: 100%
		left: -12px
		+dem(24px)
		line-height: 24px 
		text-align: center
		transition: $trs
		&:hover
			background-color: $white
.fast-review-form
	& > *
		margin: 20px 0
		&:first-chiild
			margin-top: 0
		&:last-child
			margin-bottom: 0
	&__line
		display: flex
		+lg-block
			flex-direction: column
		& > *
			&:not(:last-child)
				margin-right: 10px
				+lg-block
					margin-right: 0
					margin-bottom: 10px
	
