section.s-breadcrumbs.s-bg-white
	.container
		ul.breadcrumbs
			li.breadcrumbs__item
				a(href="index.html").breadcrumbs__home
					+icon('home', 'breadcrumbs__icon')
			li.breadcrumbs__item
				span.breadcrumbs__label.breadcrumbs-nav__toggle Каталог металлопродукции
			li.breadcrumbs__item
				a(href="#").breadcrumbs__link Все для кровли
				.breadcrumbs-tooltip
					span.breadcrumbs-tooltip__text Материалы для мягкой кровли и металлочерепицы в Манчестере
			li.breadcrumbs__item
				a(href="#").breadcrumbs__link Доборные элементы кровли
			li.breadcrumbs__item
				a(href="#").breadcrumbs__link Планка стыковочная
			li.breadcrumbs__item
				span.breadcrumbs__current Планка стыковочная 30x30x2000 мм, цвет графитовый серый RAL 7024 со склада в Манчестере