.product-slider-wrapper
	.product-slider-aside
		.product-slider-aside__nav.product-slider-aside__nav--prev
		.js-product-slider-aside
			.product-slider-aside__item
				img(src="assets/img/content/products/prev-1.jpg", alt="img")
			.product-slider-aside__item
				img(src="assets/img/content/products/prev-2.jpg", alt="img")
			.product-slider-aside__item
				img(src="assets/img/content/products/prev-3.jpg", alt="img")
			.product-slider-aside__item
				img(src="assets/img/content/products/prev-4.jpg", alt="img")
			.product-slider-aside__item
				img(src="assets/img/content/products/prev-5.png", alt="img")
			.product-slider-aside__item
				img(src="assets/img/content/products/prev-6.png", alt="img")
			.product-slider-aside__item
				img(src="assets/img/content/products/prev-7.png", alt="img")
			.product-slider-aside__item
				img(src="assets/img/content/products/prev-1.jpg", alt="img")
			.product-slider-aside__item
				img(src="assets/img/content/products/prev-2.jpg", alt="img")
		.product-slider-aside__nav.product-slider-aside__nav--next
	.product-slider-main
		.js-product-slider-main
			.product-slider-main__item
				img(src="assets/img/content/products/prev-1.jpg", alt="img")
			.product-slider-main__item
				img(src="assets/img/content/products/prev-2.jpg", alt="img")
			.product-slider-main__item
				img(src="assets/img/content/products/prev-3.jpg", alt="img")
			.product-slider-main__item
				img(src="assets/img/content/products/prev-4.jpg", alt="img")
			.product-slider-main__item
				img(src="assets/img/content/products/prev-5.png", alt="img")
			.product-slider-main__item
				img(src="assets/img/content/products/prev-6.png", alt="img")
			.product-slider-main__item
				img(src="assets/img/content/products/prev-7.png", alt="img")
			.product-slider-main__item
				img(src="assets/img/content/products/prev-1.jpg", alt="img")
			.product-slider-main__item
				img(src="assets/img/content/products/prev-2.jpg", alt="img")