.product-prev
	.product-prev__header
		.product-prev__marks
			.product-prev__mark.product-prev__mark--bg-yellow -30%
			.product-prev__mark.product-prev__mark--bg-green Хит
		img(src="assets/img/content/products/prev-1.jpg", alt="alt").product-prev__img
	.product-prev__body
		a(href="#").product-prev__title
			span.product-prev__name Планка стыковочная 30x30x200 ммб толщина 0.4 мм, цвет графитовый серый RAL 7024
			span.count-text 10шт.
		.product-prev__info
			.product-prev__info-label Артикул
			.product-prev__info-value 13763515
		.product-prev__info
			.product-prev__info-label Срок изготовления
			.product-prev__info-value от 2 до 5 дней
		.product-prev__price
			.product-prev__price-old 80 руб.
			.product-prev__price-current 76 руб. за шт.
	.product-prev__footer
		.counter.product-prev__counter
			.counter__btn.counter__btn--minus
				.counter__icon.minus &#8722;
			.counter__current
				span.counter__current-text 1
				span.counter__current-descr шт.
			.counter__btn.counter__btn.counter__btn--plus
				.counter__icon.plus &#43;
		button.btn.btn--fill
			+icon('shopping-cart', 'btn__icon')
			span В корзину