.product-prev
	a(href="#").product-prev__header
		img(src="assets/img/content/products/prev-1.jpg", alt="alt").product-prev__img
	.product-prev__body
		a(href="#").product-prev__title
			span.product-prev__name Планка стыковочная 30x30x200 ммб толщина 0.4 мм, цвет графитовый серый RAL 7024
			span.count-text 10шт.
		.product-prev__price
			.product-prev__price-current 76 руб. за шт.
		span.product-prev__buy-date Заказано 7 сентября 2019 года
	.product-prev__footer
		button.btn.btn--border-yellow
			+icon('shopping-cart', 'btn__icon')
			span В корзину