section.s-actions
	.container
		.section-header
			h1.title-page Специальные предложения
		.actions
			.actions-block
				.actions-block__header
					h3.title-section-small.title--center Действующие предложения
				.actions-block__body
					a(href="#").actions-block-prev.action-prev--gift
						.actions-block-prev__image(style = "background-image:url('assets/img/content/actions/actions-prev-1.jpeg')")
						.actions-prev-big__body
							.actions-prev-big__content
								span.actions-prev-big__name Мультиварка в подарок при заказе водостока от 50 000 рублей
								p.actions-prev-big__descr Закжите товаров для водостока на сумму от 50 000 рублей и получите мультиварку  Apple в подарок
								.action-time
									+icon('sand-clock', 'action-time__icon')
									span.action-time__text Закончится через 12 часов 17 минут
							.action-prev__mark
								+icon('gift','action-prev__mark-icon')
					a(href="#").actions-block-prev.action-prev--discount
						.actions-block-prev__image(style = "background-image:url('assets/img/content/actions/actions-prev-2.jpeg')")
						.actions-prev-big__body
							.actions-prev-big__content
								span.actions-prev-big__name Горячие скидки на продукцию "Веневский"
								p.actions-prev-big__descr Скидка 15% при заказе продукции от производителя "Веневский" от 150 000 фунтов
								.action-time
									+icon('sand-clock', 'action-time__icon')
									span.action-time__text Закончится через 15 дней
							.action-prev__mark
								+icon('percent','action-prev__mark-icon')
					a(href="#").actions-block-prev.action-prev--discount
						.actions-block-prev__image(style = "background-image:url('assets/img/content/actions/actions-prev-3.jpeg')")
						.actions-prev-big__body
							.actions-prev-big__content
								span.actions-prev-big__name Горячие скидки на продукцию "Веневский"
								p.actions-prev-big__descr Скидка 15% при заказе продукции от производителя "Веневский" от 150 000 фунтов
								.action-time
									+icon('sand-clock', 'action-time__icon')
									span.action-time__text Закончится через 15 дней
							.action-prev__mark
								+icon('percent','action-prev__mark-icon')
			.actions-block
				.actions-block__header
					h3.title-section-small.title--center Завершенные предложения
					.actions-period.dropdown
						.actions-period__toggle.dropdown__toggle 
							span.actions-period__text За 2019 год
						.dropdown__body
							ul.dropdown-list
								li.dropdown-list__item
									a(href="#").dropdown-list__link
										span.dropdown-list__text 2018
								li.dropdown-list__item
									a(href="#").dropdown-list__link
										span.dropdown-list__text 2017
								li.dropdown-list__item
									a(href="#").dropdown-list__link
										span.dropdown-list__text 2016
				.actions-block__body
					a(href="#").actions-block-prev.action-prev--closed
						.actions-block-prev__image(style = "background-image:url('assets/img/content/actions/actions-prev-1.jpeg')")
						.actions-prev-big__body
							.actions-prev-big__content
								span.actions-prev-big__name Мультиварка в подарок при заказе водостока от 50 000 рублей
								p.actions-prev-big__descr Закжите товаров для водостока на сумму от 50 000 рублей и получите мультиварку  Apple в подарок
								.action-time
									+icon('sand-clock', 'action-time__icon')
									span.action-time__text Закончится через 12 часов 17 минут
							.action-prev__mark
								+icon('gift','action-prev__mark-icon')
					a(href="#").actions-block-prev.action-prev--closed
						.actions-block-prev__image(style = "background-image:url('assets/img/content/actions/actions-prev-2.jpeg')")
						.actions-prev-big__body
							.actions-prev-big__content
								span.actions-prev-big__name Горячие скидки на продукцию "Веневский"
								p.actions-prev-big__descr Скидка 15% при заказе продукции от производителя "Веневский" от 150 000 фунтов
								.action-time
									+icon('sand-clock', 'action-time__icon')
									span.action-time__text Закончится через 15 дней
							.action-prev__mark
								+icon('percent','action-prev__mark-icon')
					a(href="#").actions-block-prev.action-prev--closed
						.actions-block-prev__image(style = "background-image:url('assets/img/content/actions/actions-prev-3.jpeg')")
						.actions-prev-big__body
							.actions-prev-big__content
								span.actions-prev-big__name Горячие скидки на продукцию "Веневский"
								p.actions-prev-big__descr Скидка 15% при заказе продукции от производителя "Веневский" от 150 000 фунтов
								.action-time
									+icon('sand-clock', 'action-time__icon')
									span.action-time__text Закончится через 15 дней
							.action-prev__mark
								+icon('percent','action-prev__mark-icon')
				.actions-block__footer
					.btn.btn--transparent-green.btn--arrow-down.btn--size-l.btn--size-font-l
						span.btn__text Показать еще 25 акций
							

