.catalog-nav.header-main__catalog-nav
	.catalog-nav__header
		.sandwich
			.sandwich__line.sandwich__line--top
			.sandwich__line.sandwich__line--middle
			.sandwich__line.sandwich__line--bottom
		span.catalog-nav__title Каталог стройматериалов
	.catalog-nav__body
		ul.catalog-nav__list
			li.catalog-nav__item
				.catalog-nav__label
					span.catalog-nav__label-text Рулонная сталь
					.catalog-nav__arrow
				include catalog-subnav/_catalog-subnav-1
			li.catalog-nav__item
				.catalog-nav__label
					span.catalog-nav__label-text Профнастил
					.catalog-nav__arrow
				include catalog-subnav/_catalog-subnav-2
			li.catalog-nav__item
				.catalog-nav__label
					span.catalog-nav__label-text Листовой прокат
					.span.count-text 23
					.catalog-nav__arrow
				include catalog-subnav/_catalog-subnav-1
			li.catalog-nav__item
				.catalog-nav__label
					span.catalog-nav__label-text Фасад
					.catalog-nav__arrow
				include catalog-subnav/_catalog-subnav-1
			li.catalog-nav__item
				.catalog-nav__label
					span.catalog-nav__label-text Распродажа
					.catalog-nav__arrow
				include catalog-subnav/_catalog-subnav-1
			li.catalog-nav__item
				.catalog-nav__label
					span.catalog-nav__label-text Специальные предложения
					.catalog-nav__arrow
				include catalog-subnav/_catalog-subnav-1
			li.catalog-nav__item
				.catalog-nav__label
					span.catalog-nav__label-text Фасад
					.catalog-nav__arrow
				include catalog-subnav/_catalog-subnav-1
			li.catalog-nav__item
				.catalog-nav__label
					span.catalog-nav__label-text Распродажа
					.catalog-nav__arrow
				include catalog-subnav/_catalog-subnav-1
			li.catalog-nav__item
				.catalog-nav__label
					span.catalog-nav__label-text Специальные предложения
					.catalog-nav__arrow
				include catalog-subnav/_catalog-subnav-1
			li.catalog-nav__item
				.catalog-nav__label
					span.catalog-nav__label-text Фасад
					.catalog-nav__arrow
				include catalog-subnav/_catalog-subnav-1
			li.catalog-nav__item
				.catalog-nav__label
					span.catalog-nav__label-text Распродажа
					.catalog-nav__arrow
				include catalog-subnav/_catalog-subnav-1
			li.catalog-nav__item
				.catalog-nav__label
					span.catalog-nav__label-text Специальные предложения
					.catalog-nav__arrow
				include catalog-subnav/_catalog-subnav-1
