.location.header-top__location
	.location__header
		+icon("location", "header__icon")
		span.location__current Оксфорд
	.location__body
		.location-question
			span.location-question__text Ваш регион доставки Манчестер?
			.location-question__buttons
				.btn.btn--bg-green.btn--size-s.location-question__btn(data-location="yes") Да, верно
				.btn.btn--border-green.btn--size-s.location-question__btn(data-location="no") Нет, уточнить регион
		.location-choose
			.location-choose__close
				.icon.icon__close.location-choose__close-icon &times;
			.location-choose__header
				input(type="text", placeholder="Поиск по городу или индексу").input-field.input-field--size-s
			.location-choose__body
				ul.location-choose__list
					li.location-choose__item Лондон
					li.location-choose__item Бирмингем
					li.location-choose__item Бристоль
					li.location-choose__item Манчестер
					li.location-choose__item Оксфорд
					li.location-choose__item Ливерпуль
					li.location-choose__item Лидс
					li.location-choose__item Кембридж
					li.location-choose__item Лондон
					li.location-choose__item Бирмингем
					li.location-choose__item Бристоль
					li.location-choose__item Манчестер
					li.location-choose__item Оксфорд
					li.location-choose__item Ливерпуль
					li.location-choose__item Лидс
					li.location-choose__item Кембридж
