html
	font-size: 16px
	font-family: $regular-font
	height: 100%

body
	background-color: $main-bg-color
	margin: 0
	-webkit-font-smoothing: antialiased
	color: $base-text-color
	height: 100%
	&.fixed
		overflow: hidden

.debug
	+debug(rgba(255, 192, 203, 0.5), 1px solid yellow)
	z-index: 2

section
	position: relative
	padding: 40px 0


ul, li
	padding: 0
	margin: 0
	list-style: none

p
	margin: 0

h1, h2, h3, h4, h5
	margin-top: 0
	margin-bottom: 0
	font-weight: normal

*
	box-sizing: border-box
a
	color: $link-color
	text-decoration: none

audio, canvas, iframe, img, svg, video, textarea
	vertical-align: middle

.container
	+wrapper

.sandwich
	cursor: pointer
	height: 14px
	position: relative
	width: 23px
	z-index: 3
	&--active
		.sandwich__line
			&--top
				top: 6px
				transform: rotate(45deg)

			&--middle
				opacity: 0

			&--bottom
				top: 6px
				transform: rotate(-45deg)

	&__line
		background-color: $white
		display: block
		height: 2px
		left: 0
		position: absolute
		transition: all linear .4s
		width: 100%

		&--top
			top: 0

		&--middle
			top: 6px

		&--bottom
			top: 12px
.section-header
	display: flex
	align-items: center
	&__right
		margin-left: auto
		+lg(display, none)
	&__link
		color: $link-color
		font-weight: 600
		text-decoration: underline
		display: inline-block
.btn
	background-color: $action-color
	cursor: pointer
	font-weight: 600	
	line-height: 20px
	padding: 8px 20px
	border-radius: 4px
	display: flex
	align-items: center
	transition: $trs	
	border: 2px solid transparent
	white-space: nowrap
	+lg-block
		overflow: hidden
		text-overflow: ellipsis
		display: inline-block
	&:hover
		background-color: #f0de01
	& > *
		&:not(:last-child)
			margin-right: 10px
	&__icon
		+dem(25px)
	&.btn
		&--fill
			width: 100%
			justify-content: center
		&--disabled
			opacity: 0.5
	&--bg-green
		background-color: $button-green
		color: $white
		&:hover
			background-color: lighten($button-green, 10%)
	&--border-green
		border-color: $button-green
		background-color: $white
		color: $button-green
		&:hover
			background-color: $white
.count-text
	font-size: 14px
	color: $placeholder-color
	margin-left: 5px
.s
	&-bg-white
		background-color: $white
	&-sales-leaders
		margin-bottom: 20px
	&-size-small
		padding: 10px 0
	&-questions
		position: relative
		z-index: 3
.link
	&-white
		color: $white
	&-green
		color: $link-color
	&-yellow
		color: $action-color
	&-underline
		text-decoration: underline
.link
	color: $base-text-color


.header__menu, .header__item--mobile-hide, .header-address
	+md(display,none)
.header__mobile
	display: none
	+md(display,block)
.header__item--mobile-hide
.header__top
	+md(display,none)

.slick-dots
	display: flex
	align-items: center
	justify-content: center
	& > *
		&:not(:last-child)
			margin-right: 10px
	.slick-active
		button
			background-color: $action-color
	button
		background-color: $slider-dot-bg
		text-indent: -9999px
		display: block
		+dem(10px)
		padding: 0
		border: 0
		border-radius: 2px
		outline: 0
		cursor: pointer

.icon-location
	+dem(16px)

textarea, input
	outline: none