@import "_breadcrumbs"
@import "_pagination"
@import "_checkbox"
@import "_colors-catalog"
@import "_dropdown"

.counter
	display: inline-flex
	border: 1px solid $input-border-color
	border-radius: 4px
	align-items: center
	background-color: $white
	&__btn
		+dem(40px)
		display: flex
		align-items: center
		justify-content: center
		background-color: #fafafa
		cursor: pointer
	&__icon
		color: #bababa
		font-size: 15px
	&__current
		display: flex
		align-items: center
		line-height: 40px
		flex: 0 0 90px
		width: 90px
		padding: 0 10px
		text-align: center
		justify-content: center
		& > *
			&:not(:last-child)
				margin-right: 5px
	&.counter
		&--width
			&-fill
				.counter__current
					flex: 1
					width: auto
.action-width-icon
	display: flex
	flex-direction: column
	position: relative
	padding-left: 35px
	&__icon
		+dem(25px)
		+abs-pos(0, auto, auto, 0)
		fill: $button-green
	.link-underline
		margin-bottom: 2px
		font-size: 14px