extends ../_template

block variables
	- var title = 'Страница акций'
	- var pageClass = 'actions-page'

block content
	//include ../elements/_debug
	include ../elements/_preloader
	include ../common/_header
	include actions/_actions-breadcrumbs
	include actions/_s-actions
	include index-page/_you-see
	include index-page/_questions
	include ../common/_footer
	include ../elements/popups/_popups
block script