extends ../_template

block variables
	- var title = 'Корзина'
	- var pageClass = 'basket-page'

block content
	//include ../elements/_debug
	include ../elements/_preloader
	include ../common/_header
	include basket/_basket-breadcrumbs
	include basket/_s-basket
	include index-page/_you-see
	include index-page/_questions
	include ../common/_footer
	include ../elements/popups/_popups
block script