extends ../_template

block variables
	- var title = 'Личный кабинет - мои заказы'
	- var pageClass = 'cabinet-page'
	- var navPage = 'orders'

block content
	//include ../elements/_debug
	include ../elements/_preloader
	include ../common/_header
	include cabinet/_cabinet-breadcrumbs
	include cabinet/_s-orders
	include index-page/_you-see
	include index-page/_questions
	include ../common/_footer
	include ../elements/popups/_popups
block script