extends ../_template

block variables
	- var title = 'front-shop'
	- var pageClass = 'catalog-page'

block content
	//include ../elements/_debug
	include ../elements/_preloader
	include ../common/_header
	include ../elements/_breadcrumbs
	include catalog/_s-catalog
	include index-page/_sales-leaders
	include index-page/_you-see
	include index-page/_questions
	include ../common/_footer
	include ../elements/popups/_popups
block script