extends ../_template

block variables
	- var title = 'Категории'
	- var pageClass = 'categories-page'

block content
	//include ../elements/_debug
	include ../elements/_preloader
	include ../common/_header
	include categories/_categories-breadcrumbs
	include categories/_s-categories
	include categories/_s-leaders
	include index-page/_you-see
	include index-page/_questions
	include ../common/_footer
	include ../elements/popups/_popups
block script