.subcategory
	display: flex
	& > *
		&:not(:last-child)
			margin-right: 20px
	&__aside
		$asideWidth: 255px
		flex: 0 0 $asideWidth
		max-width: $asideWidth
		width: $asideWidth
		& > *
			margin: 20px 0
			&:first-child
				margin-top: 0
			&:last-child
				margin-bottom: 0
	&__main
		& > *
			margin: 15px 0
			&:first-child
				margin-top: 0
			&:last-child
				margin-bottom: 0
	&-status
		background-color: $white
		border-radius: 4px
		display: flex
		justify-content: space-between 
		align-items: center			

.tags
	display: flex
	align-items: flex-start
	font-size: 14px
	line-height: 18px
	&.tags--active
		.tags__body
			height: auto
	& > *
		&:not(:last-child)
			margin-right: 10px
	&__title
		font-weight: 600
		flex-shrink: 0
		padding-top: 15px
	&__body
		display: flex
		align-items: flex-start
		flex-wrap: wrap
		height: 46px
		overflow: hidden
		& > *
			&:not(:last-child)
				margin-bottom: 10px
				margin-right: 10px
			&.tags__title
				margin-right: 15px
	&__toggle
		border-bottom: 1px solid $link-color
		color: $link-color
		cursor: pointer
		font-weight: 600
		flex-shrink: 0
		padding-top: 15px
		margin-left: auto

.tag
	background-color: $white
	border-radius: 4px
	display: inline-block
	padding: 5px 10px
	max-width: 185px

.sort
	display: flex
	&-item
		border-right: 1px solid #f2f2f2
		font-size: 14px
		line-height: 18px
		padding: 15px 20px
		display: flex
		align-items: center
		& > *
			&:not(:last-child)
				margin-right: 10px
	&-action
		position: relative
		&.sort-action--active
			.sort-action__body
				display: block
		&__header
			cursor: pointer
		&__current
			color: #1fa349
			display: flex
			align-items: center
			font-weight: 600
			&:after
				content: ''
				+arr(10, 5, #1fa349, b)
				display: block
				margin-left: 5px
		&__body
			background-color: $white
			border-radius: 4px
			box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2)
			position: absolute
			left: -10px
			top: calc(100% + 10px)
			max-width: 205px
			z-index: 2
			overflow: hidden
			display: none
		&__item
			font-weight: 600
			font-size: 14px
			line-height: 18px
			padding: 6px 15px
			background-color: $white
			display: flex
			align-items: flex-start
			white-space: nowrap
			& > *
				&:not(:last-child)
					margin-right: 5px
			&:hover
				background-color: $action-color
		&__description
			color: $placeholder-color
.page-counter
	display: flex
	align-items: center
	padding: 15px 20px
	font-size: 14px
	& > *
		&:not(:last-child)
			margin-right: 5pxfff
		
@import "_often-looking"

.subcategory
	&__products
		+row-flex
		align-items: flex-start
		background-color: $white
		border-radius: 4px
		padding: 20px 5px 0
		.product-prev
			position: relative
			background-color: $white
			transition: none
			+col
			+size(4)
			&:hover
				box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1)
				z-index: 1
				border-bottom-color: transparent
				.product-prev
					&__body
						background-color: $white
						position: relative
						z-index: 1
					&__footer
						opacity: 1
						top: 100%
			&__footer
				position: absolute
				left: -2px
				right: -2px
				top: calc(100% + 4px)
				opacity: 0
				background-color: $white
				border: 2px solid $action-color
				border-top: 0
				transition: none
			&__counter
				margin: 0 20px 15px

@import "_filter"
			
