section.s-action.s-bg-white
	.container
		.section-header
			h1.title-section-small Мультиварка в подарок при заказе водостока от 50 000 рублей
		.action
			.action__header
				span.action__description Закажите товаров для водостока на сумму от 50 000 рублей и получите мультиварку Apple в подарок
				.action__info
					.action-date
						span.action-date__text Срок роведения акции: 1 июля - 15 августа 2019 года
					.action-time
						+icon('sand-watch', 'action-time__icon')
						span.action-time__text Закончится через 12 часов 17 минут
			.action__body
				.action-item
					span.action-item__subtitle Условия акции
					.static-content
						p.static-text Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки модели развития. 
						p.static-text Идейные соображения высшего порядка, а также консультация с широким активом требуют от нас анализа направлений прогрессивного развития. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает создание форм развития.
						p.static-text Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации систем массового участия. Таким образом укрепление и развитие структуры требуют от нас анализа форм развития. Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности требуют определения и уточнения модели развития. Равным образом реализация намеченных плановых заданий в значительной степени обуславливает создание систем массового участия. Идейные соображения высшего порядка, а также реализация намеченных плановых заданий требуют от нас анализа модели развития.
						p.static-text Идейные соображения высшего порядка, а также консультация с широким активом требуют от нас анализа направлений прогрессивного развития. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает создание форм развития.
						p.static-text Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации систем массового участия. Таким образом укрепление и развитие структуры требуют от нас анализа форм развития. Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности требуют определения и уточнения модели развития. Равным образом реализация намеченных плановых заданий в значительной степени обуславливает создание систем массового участия. Идейные соображения высшего порядка, а также реализация намеченных плановых заданий требуют от нас анализа модели развития.


