section.s-action-goods.s-bg-white
	.container
		.section-header
			h1.title-section-small Товары из акции
		.action-goods
			.action-goods-block
				.action-goods-block__header
					span.action-goods-block__title Скидки на кровельные комплектующие
				.products-prev
					include ../../elements/product/_prev-1
					include ../../elements/product/_prev-2
					include ../../elements/product/_prev-3
					include ../../elements/product/_prev-4
				.action-goods-block__footer
					a(href="#").btn
						span.btn__text Все кровельные комплектующие со скидкой
						span.counts-text 100
			.action-goods-block
				.action-goods-block__header
					span.action-goods-block__title Скидки на водосточные системы
				.products-prev
					include ../../elements/product/_prev-1
					include ../../elements/product/_prev-2
					include ../../elements/product/_prev-3
					include ../../elements/product/_prev-4
				.action-goods-block__footer
					a(href="#").btn
						span.btn__text Все для водосточных системы со скидкой
						span.counts-text 100