section.s-advantages
	.container
		.advantages__wrapper
			.advantages
				.advantage
					.advantage__aside
						+icon('warranty', 'advantage-icon')
					.advantage__body
						span.advantage__title 30-дневная гарантия возврата денег
						p.advantage__text Поэтому можетеделать покупки с уверенностью
						a(href="#").advantage__link Узнать о гарантии
				.advantage
					.advantage__aside
						+icon('support', 'advantage-icon')
					.advantage__body
						span.advantage__title Специалисты по товарам на связи
						p.advantage__text Мы ответим на любые вопросы о товарах в течение 10 минут
						a(href="#").advantage__link Получить кнсультацию
				.advantage
					.advantage__aside
						+icon('sample', 'advantage-icon')
					.advantage__body
						span.advantage__title Бесплатные образцы
						p.advantage__text Некоторые товары вы можете внимательнее изучить перед покупкой


