section(style="background-image:url('assets/img/general/main-banner.jpg')").s-banner
	.container
		.banner
			h1.title-page Продажа строительных материалов от производителя
			p.banner__text Текст о компании, который может пригодиться для первичного знакомства с посетителем сайта, а также для целей поискового продвижения