section.popular-category
	.container
		.popular-categories
			.section-header
				h2.title-section Популярные категории каталога
			.categories-prev
				.categories-prev__wrapper.js-categories-prev
					include ../../elements/categories/_prev-1
					include ../../elements/categories/_prev-2
					include ../../elements/categories/_prev-3
					include ../../elements/categories/_prev-4
					include ../../elements/categories/_prev-5
					include ../../elements/categories/_prev-6
					include ../../elements/categories/_prev-7
					include ../../elements/categories/_prev-8
