section.s-promo
	.container
		.section-header
			h2.title-section Акции и спецпредложения
			.section-header__right
				.section-header__link Все спецпредложения
				span.section-header__count.category-prev__title-count 123
		.actions-prev
			.action-prev
				.action-prev__header(style="background-image:url('assets/img/content/actions/actions-prev-3.jpeg')")
					a(href="#").btn Купить листы оцинкованные
				.action-prev__body
					.action-prev__text
						span.action-prev__descr Специальные предложения
						span.action-prev__title на листы оцинкованные
			.action-prev
				.action-prev__header(style="background-image:url('assets/img/content/actions/actions-prev-1.jpeg')")
					a(href="#").btn Купить доборные элементы кровли
				.action-prev__body
					.action-prev__text
						span.action-prev__descr Распродажа 
						span.action-prev__title доборных элементов кровли
			.action-prev
				.action-prev__header(style="background-image:url('assets/img/content/actions/actions-prev-2.jpeg')")
					a(href="#").btn Купить профнастил со скидкой
				.action-prev__body
					.action-prev__text
						span.action-prev__descr Скидки до 50%
						span.action-prev__title на профнастил
	.box Vice PBR&B XOXO banjo Helvetica locavore selfies American Apparel flexitarian mlkshk tofu aesthetic tattooed sustainable roof party plaid hoodie single-origin coffee jean shorts post-ironic crucifix pork belly retro Intelligentsia ennui fixie raw denim meh synth church-key craft beer paleo VHS Thundercats Wes Anderson deep v mustache chia pickled Marfa Portland McSweeney's Bushwick ethical street art Carles salvia art party Neutra letterpress organic kale chips umami photo booth kogi semiotics gastropub asymmetrical artisan Schlitz 8-bit pug squid next level freegan slow-carb keytar bespoke whatever yr hashtag typewriter distillery selvage biodiesel Shoreditch pop-up food truck Tonx master cleanse small batch 90's literally actually Austin butcher trust fund swag authentic lo-fi cray drinking vinegar blog forage polaroid heirloom YOLO kitsch chambray cliche banh mi shabby chic Cosby sweater High Life tote bag farm-to-table fingerstache mixtape +1 cred beard keffiyeh skateboard 3 wolf moon stumptown cardigan bitters wayfarers seitan irony lomo sriracha try-hard gentrify pour-over you probably haven't heard of them fap dreamcatcher meggings direct trade  wolf twee Echo Park Pitchfork Blue Bottle narwhal Williamsburg Brooklyn occupy disrupt tousled bicycle rights sartorial mumblecore put a bird on it iPhone Pinterest Kickstarter leggings PBR Tumblr chillwave quinoa four loko before they sold out messenger bag gluten-free Banksy flannel vegan Truffaut brunch DIY normcore fashion axe viral vinyl cornhole readymade Odd Future hella scenester fanny pack Godard ugh Etsy
	.btn.js-btn Click