section.s-sales-leaders
	.container
		.section-header
			h2.title-section Лидеры продаж
		.sales-leaders
			.sales-leaders__row
				.sales-leaders__col
					a(href="#").sales-leader.sales-leader--big
						.sales-leader__img
							img(src="assets/img/content/products/prev-1.jpg", alt="alt")
						span.sales-leader__name Водосточные трубы
						.sales-leaders__col
							.sales-leaders__item
					.sales-leaders__row
						a(href="#").sales-leaders__col
							.sales-leader
								.sales-leader__img
									img(src="assets/img/content/products/prev-2.jpg", alt="alt")
								span.sales-leader__name Планка стыковочная 30x30x2000мм
						a(href="#").sales-leaders__col
							.sales-leader
								.sales-leader__img
									img(src="assets/img/content/categories/category-prev-7.jpeg", alt="alt")
								span.sales-leader__name Гладкий лист оцинкованный
				.sales-leaders__col
					.sales-leaders__row
						a(href="#").sales-leaders__col
							.sales-leader
								.sales-leader__img
									img(src="assets/img/content/products/prev-5.png", alt="alt")
								span.sales-leader__name Гладкий лист оцинкованный
						a(href="#").sales-leaders__col
							.sales-leader
								.sales-leader__img
									img(src="assets/img/content/products/prev-6.png", alt="alt")
								span.sales-leader__name Подсистема вентилируемого фасада
					a(href="#").sales-leader.sales-leader--big
						.sales-leader__img
							img(src="assets/img/content/products/prev-7.png", alt="alt")
						span.sales-leader__name Планка стыковочная 30x30x2000мм, толщина 0.4 мм, цвет графитовый серый
							
