.pagination
	ul.pagination__list
		each page in [1,2,3,4,5,'...']
			li.pagination__item
				a(href="#").pagination__link=page
		li.pagination__item.pagination__item--plus
			a(href="#").pagination__link &#43;
	
	
	