.container
	h1.title-page Все для кровли
		span.count-text 8431
section.s-categories
	.container
		.categories
			.category-item
				.category-prev__title
					a(href="#").category-prev__title-text Прямоугольный водосток
					span.category-prev__title-count 9
				ul.category-prev__list
					li.category-prev__item
						a(href="#").category-prev__link Прямоугольные оцинкованные трубы водостока
						span.category-prev__title-count 23
					li.category-prev__item
						a(href="#").category-prev__link Соединители прямоугольных желобов водостока
						span.category-prev__title-count 23
					li.category-prev__item
						a(href="#").category-prev__link Воронка водостока прямоугольная оцинкованная
						span.category-prev__title-count 23
					li.category-prev__item
						a(href="#").category-prev__link Заглушка прямоугольного водостока оцинкованная
						span.category-prev__title-count 23
					li.category-prev__item
						a(href="#").category-prev__link Крепление прямоугольного водостока
						span.category-prev__title-count 23
			.category-item
				.category-prev__title
					a(href="#").category-prev__title-text Изоляция для кровли
					span.category-prev__title-count 99
				ul.category-prev__list
					li.category-prev__item
						a(href="#").category-prev__link Ветроизоляция
						span.category-prev__title-count 23
					li.category-prev__item
						a(href="#").category-prev__link Влагоизоляция
						span.category-prev__title-count 23
					li.category-prev__item
						a(href="#").category-prev__link Пароизоляция
						span.category-prev__title-count 23
					li.category-prev__item
						a(href="#").category-prev__link Гидроизоляция
						span.category-prev__title-count 23
					li.category-prev__item
						a(href="#").category-prev__link Утеплитель
						span.category-prev__title-count 23
					li.category-prev__item
						a(href="#").category-prev__link Минеральная вата
						span.category-prev__title-count 23
			.category-item
				.category-prev__title
					a(href="#").category-prev__title-text Элементы безопасной кровли
					span.category-prev__title-count 999
			.category-item
				.category-prev__title
					a(href="#").category-prev__title-text Добротные элементы кровли
					span.category-prev__title-count 999
				ul.category-prev__list
					li.category-prev__item
						a(href="#").category-prev__link Планка стыковочная
						span.category-prev__title-count 23
					li.category-prev__item
						a(href="#").category-prev__link Планка ендовы нижняя
						span.category-prev__title-count 23
					li.category-prev__item
						a(href="#").category-prev__link Планка ендовы верхняя(разжелобок)
						span.category-prev__title-count 23
					li.category-prev__item
						a(href="#").category-prev__link Планка узла наружного
						span.category-prev__title-count 23
					li.category-prev__item
						a(href="#").category-prev__link Планка узла внутреннего
						span.category-prev__title-count 23
					li.category-prev__item
						a(href="#").category-prev__link Планка карнизная
						span.category-prev__title-count 23
					li.category-prev__item
						a(href="#").category-prev__link Планка карнизного свеса(капельник)
						span.category-prev__title-count 23
					li.category-prev__item
						a(href="#").category-prev__link Планка торцевая
						span.category-prev__title-count 23
					li.category-prev__item
						a(href="#").category-prev__link Планка примыкания верхняя
						span.category-prev__title-count 23
					li.category-prev__item
						a(href="#").category-prev__link Планка примыкания нижняя
						span.category-prev__title-count 23
					li.category-prev__item
						a(href="#").category-prev__link Планка конька плоского
						span.category-prev__title-count 23
					li.category-prev__item
						a(href="#").category-prev__link Конек круглый
						span.category-prev__title-count 23
			.category-item
				.category-prev__title
					a(href="#").category-prev__title-text Кляммеры
					span.category-prev__title-count 999
			.category-item
				.category-prev__title
					a(href="#").category-prev__title-text Водосточные системы
					span.category-prev__title-count 999
				ul.category-prev__list
					li.category-prev__item
						a(href="#").category-prev__link Комплекты водосточных систем
						span.category-prev__title-count 23
					li.category-prev__item
						a(href="#").category-prev__link  Водосточные трубы
						span.category-prev__title-count 23
					li.category-prev__item
						a(href="#").category-prev__link Воронка желоба выпускная(накладная,врезная)
						span.category-prev__title-count 23
					li.category-prev__item
						a(href="#").category-prev__link Воронка водосборная конусная
						span.category-prev__title-count 23
					li.category-prev__item
						a(href="#").category-prev__link Ворнка водосборная кроглая
						span.category-prev__title-count 23
					li.category-prev__item
						a(href="#").category-prev__link Желоб с выходом(канадка)
						span.category-prev__title-count 23
					li.category-prev__item
						a(href="#").category-prev__link Угол желоба 135гр.
						span.category-prev__title-count 23
					li.category-prev__item
						a(href="#").category-prev__link Угол желоба 90гр.
						span.category-prev__title-count 23
					li.category-prev__item
						a(href="#").category-prev__link Отмет трубы водостока
						span.category-prev__title-count 23
					li.category-prev__item
						a(href="#").category-prev__link Колено трубы водостока
						span.category-prev__title-count 23
					li.category-prev__item
						a(href="#").category-prev__link Тройник трубы водостока
						span.category-prev__title-count 23
					li.category-prev__item
						a(href="#").category-prev__link Крепление желоба
						span.category-prev__title-count 23
					li.category-prev__item
						a(href="#").category-prev__link Крепление трубы водостока анкерное
						span.category-prev__title-count 23
					li.category-prev__item
						a(href="#").category-prev__link Крепление трубы водостока сварное
						span.category-prev__title-count 23
					li.category-prev__item
						a(href="#").category-prev__link Труба водостока промежуточная
						span.category-prev__title-count 23
			.category-item
				.category-prev__title
					a(href="#").category-prev__title-text Фальцевые картины
					span.category-prev__title-count 999
				ul.category-prev__list
					li.category-prev__item
						a(href="#").category-prev__link Самозащелкивающийся фальц(кликфальц)
						span.category-prev__title-count 23
			.category-item
				.category-prev__title
					a(href="#").category-prev__title-text Снегозадержатели
					span.category-prev__title-count 999
				ul.category-prev__list
					li.category-prev__item
						a(href="#").category-prev__link Снегозадержатели для металлочерепицы
						span.category-prev__title-count 23
					li.category-prev__item
						a(href="#").category-prev__link Снегозадержатели для профнастила
						span.category-prev__title-count 23
					li.category-prev__item
						a(href="#").category-prev__link Снегозадержатели для фальцевой кровли
						span.category-prev__title-count 23
					li.category-prev__item
						a(href="#").category-prev__link Снегозадержатели для черепицы
						span.category-prev__title-count 23
					li.category-prev__item
						a(href="#").category-prev__link Универсальные снегозадержатели 
						span.category-prev__title-count 23
					li.category-prev__item
						a(href="#").category-prev__link Снегозадержатели трубчатые
						span.category-prev__title-count 23
					li.category-prev__item
						a(href="#").category-prev__link Угол желоба 135гр.
						span.category-prev__title-count 23
					li.category-prev__item
						a(href="#").category-prev__link Угол желоба 90гр.
						span.category-prev__title-count 23
			.category-item
				.category-prev__title
					a(href="#").category-prev__title-text Металлочерепица
					span.category-prev__title-count 999
				ul.category-prev__list
					li.category-prev__item
						a(href="#").category-prev__link Квинта
						span.category-prev__title-count 23
					li.category-prev__item
						a(href="#").category-prev__link Venevsky
						span.category-prev__title-count 23
					li.category-prev__item
						a(href="#").category-prev__link Kredo
						span.category-prev__title-count 23
			.category-item
				.category-prev__title
					a(href="#").category-prev__title-text Софиты
					span.category-prev__title-count 999
section.s-categories-prev
	.container
		.section-header
			h2.title-section Другие разделы каталога
		.categories-prev
			.categories-prev__navigation 
				.slider-nav.slider-nav--prev.categories-prev__btn-prev
					+icon('chevron-left', 'slider-nav__icon')
				.slider-nav.slider-nav--next.categories-prev__btn-next
					+icon('chevron-right', 'slider-nav__icon')
			.categories-prev__wrapper.js-categories-prev
				include ../../elements/categories/_prev-1
				include ../../elements/categories/_prev-2
				include ../../elements/categories/_prev-3
				include ../../elements/categories/_prev-4
				include ../../elements/categories/_prev-5
				include ../../elements/categories/_prev-6
