section.s-sales-leaders-products
	.container
		.section-header
			h2.title-section Лидеры продаж в разделе кровля
		.sales-leaders-products
			.sales-leaders-products__row
				.sales-leaders-products__col
					include ../../elements/product/_prev-1.pug
				.sales-leaders-products__col
					include ../../elements/product/_prev-2.pug	
				.sales-leaders-products__col.sales-leaders-products__col--wide
					include ../../elements/product/_prev-3.pug
			.sales-leaders-products__row
				.sales-leaders-products__col
					include ../../elements/product/_prev-4.pug
				.sales-leaders-products__col.sales-leaders-products__col--wide
					include ../../elements/product/_prev-1.pug
				.sales-leaders-products__col
					include ../../elements/product/_prev-2.pug